@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    *::-webkit-scrollbar {
        width: 8px;
    }
    
    *::-webkit-scrollbar-track {
        border-radius: 4px;
        background: transparent;
        margin: 4px 0;
    }
    
    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: rgba(200,200,200,1); 
        border: 2px solid transparent;
        background-clip: padding-box;
    }
    
    *::-webkit-scrollbar-button {
        height: 0;
        display: none;
    }
}