@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: content-box;
  transition: ease-in-out;
  transition-duration: 150ms;
}

button.delete {
  font-size: 1px;
}

input {
  border-radius: 0.5rem !important;
}

/* .page {
  box-shadow: 0 0 0 2px firebrick;
  border: 7px solid transparent !important;
} */

/* .page {
  margin-top: 10px !important;
} */

.pdfViewer {
  margin-top: 10px;
  margin-bottom: 20px;
}

#scaleSelect {
  background: none !important;
}

/* *::-webkit-scrollbar {
    width: px;
}

*::-webkit-scrollbar-track {
    border-radius: 4px;
    background: transparent;
    margin: 4px 0;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(200,200,200,1); 
    border: 2px solid transparent;
    background-clip: padding-box;
} */

/* *::-webkit-scrollbar-button {
    height: 0;
    display: none;
} */

#backendRequestSaveButton {
  border: 2px solid oklch(80.9% 0.105 251.813);
  background: oklch(88.2% 0.059 254.128);
  padding: 2px 8px;
  border-radius: 0.5rem;
  height: 32px;
  margin-left: 8px;
  margin-right: 4px;
  transition: ease-in-out;
  transition-duration: 150ms;
}

#backendRequestSaveButton:hover {
  border: 2px solid oklch(70.7% 0.165 254.624);
  background: oklch(80.9% 0.105 251.813);
}