@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: content-box;
  /* uhm. how about we only do this for buttons and toolbars. */
  /* transition: ease-in-out;
  transition-duration: 150ms; */
}

button.delete {
  font-size: 1px;
}

input {
  border-radius: 0.5rem !important;
}

/* .page {
  box-shadow: 0 0 0 2px firebrick;
  border: 7px solid transparent !important;
} */

/* .page {
  margin-top: 10px !important;
} */

.pdfViewer {
  margin-top: 10px;
  margin-bottom: 20px;
}

#scaleSelect {
  background: none !important;
}

/* *::-webkit-scrollbar {
    width: px;
}

*::-webkit-scrollbar-track {
    border-radius: 4px;
    background: transparent;
    margin: 4px 0;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(200,200,200,1); 
    border: 2px solid transparent;
    background-clip: padding-box;
} */

/* *::-webkit-scrollbar-button {
    height: 0;
    display: none;
} */

#backendRequestSaveButton {
  padding: 2px 8px;
  height: 32px;
  margin-left: 8px;
  margin-right: 4px;
}

.primary-button {
  @apply border-2 border-blue-300 bg-blue-200 hover:border-blue-400 hover:bg-blue-300;
}

.error-button {
  @apply border-2 border-red-300 bg-red-200 hover:border-red-400 hover:bg-red-300;
}

.success-button {
  @apply border-2 border-green-300 bg-green-200 hover:border-green-400 hover:bg-green-300;
}